.App{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.comments{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 70%;
}
.comment-right-part{
	display: flex;
	flex-direction: column;
}
.comment-title{
	margin: 10px 0;
}
h4{
	margin: 0 0 5px 0;
}
form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
}

textarea{
	border-radius: 10px;
	margin-bottom: 10px;
	outline: none;
	padding-top: 5px;
	padding-left: 10px;
}
button{
	height: 30px;
	border-radius: 20px;
	outline: none;
	border: none;
	background-color: #263640;
	color: white;
	padding: 0 10px;
	margin-bottom: 10px;
}
button:hover{
	cursor: pointer;
	background-color: #128573;
}
.comment{
	display: flex;
	margin: 10px 0;
}
.comment-content{
	display: flex;
	color: grey;
}

.comment-author{
	margin-right: 20px;
	color: blue;
}

.comment-actions{
	display: flex;
	align-items: center;
	color: grey;
	font-size: small;
	margin-top: 2px;
}

.comment-action{
	margin-right: 15px;
	cursor: pointer;
}

.comment-action:hover{
	color: blue;
}

.cancel-btn{
	margin-left: 10px;
}