*{
	margin: 2px;
}
.comments{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.comment{
	display: flex;
	justify-content: center;
	align-items: center;
}

.comment-right-part{
	display: flex;
	flex-direction: column;
}

.comment-content{
	display: flex;
	color: grey;
}

.comment-author{
	margin-right: 20px;
	color: blue;
}